*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.nftcontainer{
    width: 100%;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 60px;
    margin-left: 60px;
    padding-right: 100px;
    padding-left: 100px;
    background: var(--Black, #2B2D38);
}


.navarea{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    
}
.navright{
    display: flex;
    margin-left: -100px;
    gap: 40px;
    
}
.gath{
    color: rgb(243, 9, 48);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.session{
    color: var(--White, #FFF);
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

